/* paleta de cor */
:root {
  --bg: #1a1a1a;
  --bg2: #232323;
  --accent: #e63946;
  --text: #f1f1f1;
  --border-shadow: #e639464d;
}

/* reset basico */
* {
  margin: 0;/* Remove margens padrão de todos os elementos */
  padding: 0;/* Remove espaçamentos internos padrão */
  box-sizing: border-box;
}

/* Corpo do site */
body {
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
  overflow-x: hidden;
}
