/* paleta de cor */
:root {
  --bg: #1a1a1a;
  --bg2: #232323;
  --accent: #e63946;
  --text: #f1f1f1;
  --border-shadow: #e639464d;
}

/* reset basico */
* {
  margin: 0;/* Remove margens padrão de todos os elementos */
  padding: 0;/* Remove espaçamentos internos padrão */
  box-sizing: border-box;
}

/* Corpo do site */
body {
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
}


/* MOBILE */

@media (max-width: 900px) {
  
  /* espaçamento do cabecalho */
  .hero {
    padding-top: 120px; 
  }

  /* pagina principal */
  .hero-content {
    grid-template-columns: 1fr; /* uma coluna */
    text-align: center; 
    gap: 1.5rem;
  }

  /* tamanho da imagem */
  .hero-foto img {
    width: 280px;
    height: 280px;
  }

  /* tamanho dos textos */
  .hero-text h1 {
    font-size: 2.6rem;
  }

  .hero-text h2 {
    font-size: 1.3rem;
  }

  /* centraliza os botoes de contato */
  .contato-icons {
    align-items: center;
    justify-content: center;
  }

  .social-icons {
    align-items: center;
    justify-content: center;
  }

  /* Sobre */
  .sobre-pagina {
    flex-direction: column; /* uma coluna */
    gap: 2rem;
    text-align: center;
  }

  /* tamanho da imagem */
  .sobre-img img {
    width: 280px;
    height: 280px;
  }

  /* tamanho do texto "Sobre Mim" */
  .sobre-titulo {
    font-size: 2.2rem;
  }

  /* tamanho do texto do nome */
  .sobre-info h3 {
    font-size: 1.8rem;
  }

  /* Projetos */
  .projetos {
    padding: 3rem 1rem;
  }

  .grid-projetos {
    grid-template-columns: 1fr; /* uma coluna */
    gap: 1rem;
  }

  /* tamanho das imagens */
  .card-projeto img {
    height: 200px;
  }

  /* tamanho do titulo */
  .projetos h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }

  .card-projeto {
    padding: 1.5rem;
  }

}

/* Configurações para telas muito pequenas */
@media (max-width: 480px) {
  .projetos {
    padding: 2rem 1rem;
    min-height: auto;
  }

  .projetos h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .card-projeto {
    padding: 1rem;
  }

  .card-projeto img {
    height: 180px;
  }

  .card-projeto h3 {
    font-size: 1.2rem;
  }

  .card-projeto p {
    font-size: 0.9rem;
  }
}
